<!doctype html>
<html>
  <head>
    <title>userpage</title>
    <link rel="stylesheet" href="css/subway_style.css">
  </head>
  <body>
    <h2> Subway Routes </h2>
    <form method= "POST" action="/results">
      <h1> Please enter your starting point </h1>
    <input type="text" name="start_location" placeholder="Starting Point">
    <h1> Please enter your destination </h1>
     <input type="text" name="destination_location" placeholder="Destination">
      <br>
      <br>

  <input class="hover_button" type="submit" value="Submit">
</form>



  </body>
</html>
